* {
  box-sizing: border-box;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin: 0;
  background-color: rgb(237, 239, 240);
}
a {
  color: #278da4;
  text-decoration: none;
}
p {
  margin-bottom: 1.25em;
}
.main-content {
  margin: 2em auto;
}
.card {
  padding: 1.5em 1em;
  border: 2px solid #e1e1e1;
  border-radius: 0.25em;
  color: #adb6b9;
  font-weight: bold;
}
.card h1 {
  font-family: "Bree Serif", serif;
  color: #4caf72;
  margin: 0;
  line-height: 1.25;
}
