* {
  box-sizing: border-box;
}
body {
  background-color: LightSlateGray;
}
.container {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #fff;
  align-self: center;
  margin: 12px 16.5vh;
}
.item {
  padding: 12px;
  background-color: #42b4d6;
  flex-grow: 1;
  margin: 8px 10px;
  text-align: center;
}
